NODE_ENV=development
PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/church_erp?schema=public"
CORS_ORIGIN=http://localhost:3000,http://192.168.50.234:3001
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d
